absl-py==2.1.0
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.3.1
bcrypt==4.2.1
black==24.10.0
certifi==2024.12.14
cffi==1.17.1
chardet==3.0.4
click==8.1.8
coacd==1.0.5
colorama==0.4.6
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.1.1
Deprecated==1.2.15
dill==0.3.9
Django==3.1.4
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
etils==1.5.2
exceptiongroup==1.2.2
fastapi==0.115.6
fastapi-cli==0.0.7
filelock==3.16.1
fonttools==4.55.3
freetype-py==2.5.1
fsspec==2024.12.0
# Editable install with no version control (genesis-world==0.2.0)
-e f:\m1il\python_perso\genesis
glfw==2.8.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib_resources==6.4.5
Jinja2==3.1.5
jwt==1.3.1
kiwisolver==1.4.7
lazy_loader==0.4
libigl==2.5.1
llvmlite==0.43.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.2
matplotlib==3.9.4
mdurl==0.1.2
moviepy==2.1.1
mpmath==1.3.0
msvc_runtime==14.42.34433
mujoco==3.2.5
mypy-extensions==1.0.0
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
OpenEXR==3.3.2
packaging==24.2
passlib==1.7.4
pathspec==0.12.1
peppercorn==0.6
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
pooch==1.8.2
proglog==0.1.10
psutil==6.1.1
psycopg2==2.9.10
pyasn1==0.6.1
pycollada==0.8
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
PyGEL3D==0.5.2
pyglet==2.0.20
pygltflib==1.16.0
Pygments==2.19.1
PyJWT==2.10.1
pymeshlab==2023.12.post2
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.20
pytz==2020.4
pyvista==0.44.2
PyYAML==6.0.2
requests==2.25.0
rich==13.9.4
rich-toolkit==0.13.2
rsa==4.9
sampleproject @ git+https://github.com/pypa/sampleproject.git@918bd331501de42be32666bd5140d04d00b39386
scikit-image==0.24.0
scipy==1.13.1
scooby==0.10.0
screeninfo==0.8.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.37
sqlparse==0.4.1
starlette==0.41.3
sympy==1.13.1
taichi==1.7.2
tenacity==9.0.0
tetgen==0.6.4
tifffile==2024.8.30
tomli==2.2.1
torch==2.5.1
tqdm==4.67.1
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==1.26.2
uvicorn==0.34.0
vtk==9.3.1
watchfiles==1.0.4
websockets==14.1
wrapt==1.17.0
zipp==3.21.0
